.content-container{
    border: 0.1px solid #E0DADA;
}

.content-header{
    background-color: #3498DB;
    padding: 10px 0;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding-left: 10px;
}

.content-body{
    padding: 10px;
    margin: 0 30px;
}
